@model Supplier
<form method="post">
        <div class="row">
        <label class="col-2 form-label" asp-for="SupplierId">SupplierId</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="SupplierId">
        </div>
    </div>
    <div class="row">
        <label class="col-2 form-label" asp-for="CompanyName">Name</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="CompanyName">
        </div>
    </div>
    <div class="row">
        <label class="col-2 form-label" asp-for="Logo">Logo</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Logo">
        </div>
    </div>
    <div class="row">
        <label class="col-2 form-label" asp-for="ContactName">ContactName</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="ContactName">
        </div>
    </div>
    <div class="row">
        <label class="col-2 form-label" asp-for="Email">Email</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Email">
        </div>
    </div>
        <div class="row">
        <label class="col-2 form-label" asp-for="Phone">Phone</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Phone">
        </div>
    </div>
        <div class="row">
        <label class="col-2 form-label" asp-for="Address">Address</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Address">
        </div>
    </div>
        <div class="row">
        <label class="col-2 form-label" asp-for="Description">Description</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Description">
        </div>
    </div>
    <div class="mt-2">
        <button class="offset-2 btn btn-primary">Save Changes</button>
        <a class="btn btn-outline-primary" href="/supplier">Cancel</a>
    </div>
</form>